Repository ll7/paf22, pull requests merged in 2022-12, with the labels that each got.

#99 70 feature dummy trajectory
  code/acting/CMakeLists.txt
  code/acting/launch/acting.launch
  code/acting/package.xml
  code/acting/src/acting/DummyTrajectoryPublisher.py
  code/acting/src/acting/DummyTrajectorySub.py
  code/acting/src/acting/trajectory_interpolation.py
Labels: Acting

#116 68 feature implement traffic light control
  code/perception/src/perception/__init__.py
  code/perception/src/traffic_light_detection/.gitignore
  code/perception/src/traffic_light_detection/dataset.dvc
  code/perception/src/traffic_light_detection/model_weights/05.12.2022_17.47/model_acc_99.15_val_99.74.pt
  code/perception/src/traffic_light_detection/model_weights/05.12.2022_17.47/model_acc_99.23_val_99.21.pt
  code/perception/src/traffic_light_detection/model_weights/05.12.2022_17.47/model_acc_99.53_val_100.0.pt
  code/perception/src/traffic_light_detection/src/data_generation/transforms.py
  code/perception/src/traffic_light_detection/src/data_generation/weights_organizer.py
  code/perception/src/traffic_light_detection/src/traffic_light_config.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/classification_model.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/traffic_light_inference.py
  code/perception/src/traffic_light_detection/src/traffic_light_detection/traffic_light_training.py
Labels: Perception

#101 72 feature implement vehicle controller
  code/acting/launch/acting.launch
  code/acting/src/acting/acting.py
  code/acting/src/acting/vehicle_controller.py
Labels: enhancement, Acting

#100 69 feature implement pid for velocity control
  code/acting/launch/acting.launch
  code/acting/src/acting/velocity_controller.py
  code/acting/src/acting/velocity_publisher_dummy.py
Labels: enhancement, Acting
