Repository ll7/paf22, pull requests merged in 2023-01, with the labels that each got.

#136 114 feature visualize target vs current speed
  code/acting/src/acting/velocity_controller.py
  doc/00_assets/testing_velocity_pid.png
  doc/05_acting/01_acting_testing.md
  doc/05_acting/Readme.md
Labels: Acting

#148 fix(#147): Use pre-extracted .zip file for Carla PythonAPI
  build/docker/agent/Dockerfile
Labels: bug

#156 64: Generate training dataset for panoptic segmentation
  .dockerignore
  .gitignore
  build/docker-compose.yml
  build/docker/agent/Dockerfile
  code/perception/src/dataset_generator.py
  doc/06_perception/01_dataset_generator.md
  doc/06_perception/Readme.md
Labels: Perception

#137 108 feature implement path visualization
  code/acting/launch/acting.launch
  code/acting/src/acting/DummyTrajectoryPublisher.py
  code/acting/src/acting/DummyTrajectorySub.py
  code/acting/src/acting/MainFramePublisher.py
  code/agent/config/rviz_config.rviz
Labels: Acting
