Repository ll7/paf22, pull requests merged in 2023-03, with the labels that each got.

#205 feat(#204): max_tree_velocity is now taken into account
  code/acting/src/acting/velocity_controller.py
Labels: Acting

#210 112 feature add decision making for steering controller
  code/acting/src/acting/DummyTrajectoryPublisher.py
  code/acting/src/acting/pure_pursuit_controller.py
  code/acting/src/acting/vehicle_controller.py
  code/acting/src/acting/velocity_publisher_dummy.py
  code/agent/config/dev_objects.json
  code/agent/config/rviz_config.rviz
Labels: enhancement, Acting

#158 154 feature combine navigation data and trajectory
  build/docker-compose.yml
  build/docker/agent/Dockerfile
  code/acting/launch/acting.launch
  code/acting/src/acting/pure_pursuit_controller.py
  code/acting/src/acting/stanley_controller.py
  code/acting/src/acting/vehicle_controller.py
  code/acting/src/acting/velocity_controller.py
  code/agent/config/rviz_config.rviz
  code/agent/launch/agent.launch
  code/agent/launch/dev.launch
  code/planning/launch/planning.launch
  code/planning/src/planning/dev_global_route.py
  code/planning/src/planning/help_functions.py
  code/planning/src/planning/preplanner.py
  code/planning/src/planning/preplanning_trajectory.py
  code/requirements.txt
  doc/00_assets/Stop_sign_OpenDrive.png
  doc/00_assets/global_trajectory.png
  doc/00_assets/lane_midpoint.png
  doc/00_assets/local_trajectory.png
  doc/00_assets/preplanning_start.png
  doc/00_assets/roads_vis.png
  doc/00_assets/trajectory_roads.png
  doc/03_research/03_planning/07_OpenDrive.md
Labels: Planning

#219 209 feature reduce velocity before reaching curve
  code/acting/launch/acting.launch
  code/acting/src/acting/acting_velocity_publisher.py
  code/acting/src/acting/velocity_publisher_dummy.py
Labels: Acting

#226 doc(#218): Added documentation for efficientps
  code/perception/src/lidar_distance.py
  code/perception/src/panoptic_segmentation/config.yaml
  doc/00_assets/efficientps_structure.png
  doc/06_perception/03_lidar_distance_utility.md
  doc/06_perception/04_efficientps.md
Labels: Perception

#222 217 bug remove ekf node and add gps filter
  code/acting/launch/acting.launch
  code/acting/src/acting/acting_velocity_publisher.py
  code/acting/src/acting/vehicle_controller.py
  code/agent/config/dev_objects.json
  code/perception/launch/perception.launch
  code/perception/src/PositionPublisher.py
  code/perception/src/Position_Publisher_Node.py
  doc/00_assets/filter_img/rolling_avg_1.png
  doc/00_assets/filter_img/rolling_avg_10.png
  doc/00_assets/filter_img/rolling_avg_20.png
  doc/00_assets/filter_img/rolling_avg_5.png
  doc/04_examples/gps_example/gps_signal_example.md
Labels: Perception

#231 230 feature complete documentation acting
  code/acting/msg/Debug.msg
  code/acting/readme.md
  code/acting/src/acting/DummyTrajectoryPublisher.py
  code/acting/src/acting/DummyTrajectorySub.py
  code/acting/src/acting/acting_velocity_publisher.py
  code/acting/src/acting/pure_pursuit_controller.py
  code/acting/src/acting/stanley_controller.py
  code/acting/src/acting/trajectory_interpolation.py
  code/acting/src/acting/vehicle_controller.py
  doc/00_assets/acting/main_frame_publisher_bug.png
  doc/00_assets/acting/stanley_anteil.png
  doc/01_general/04_architecture.md
  doc/01_general/Readme.md
  doc/05_acting/01_acting_testing.md
  doc/05_acting/03_lateral_controller.md
  doc/05_acting/04_main_frame_publisher.md
  doc/05_acting/Readme.md
Labels: documentation, Acting
